<%- include('../partials/header') %>

<section>
	<form action="/main" method="POST" autocomplete="off">
		<label>Pet Name: <br><input type="text" name="pet" placeholder="spike"/></label
		><br /> <br>
		<label
			>Pet Description: <br>
			<textarea
				name="description"
				placeholder="Best dog ever, because..."
			></textarea></label
		><br /> <br>
		<label
			>Imgur Url: <br>
			<input
				type="text"
				name="image"
				placeholder="https://i.imgur.com/"/></label
		><br />
		<button type="submit">Add Pet</button>
	</form>
</section>

<%- include('../partials/footer') %>
