@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Indie Flower';
	outline: 0 !important;
	margin: 0;
}

body {
	background-color: #55a48e;
	display: grid;
}

nav {
	background-color: #3f977e;
	width: 100vw;
	height: max-content;
	display: grid;
	grid-template-areas:
		'img title ul'
		'guest guest guest'
		'main main main';
	grid-template-columns: 8.8% auto 8.8%;
	grid-template-rows: max-content max-content auto;
}

nav > section {
	grid-area: img;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#logo {
	width: 70%;
	height: auto;
	margin: 5%;
}

#logo:hover {
	cursor: pointer;
}

nav > div {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title,
.log {
	color: white;
	text-decoration: none;
}

.title {
	font-size: 60px;
	font-weight: bold;
}

.log {
	grid-area: ul;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	font-size: 20px;
}

.log:hover {
	background-color: #6eb19e;
	text-decoration: underline;
}

#login {
	animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
	0% {
		color: white;
	}
	20% {
		color: lightgreen;
	}
	40% {
		color: lightblue;
	}
	60% {
		color: violet;
	}
	80% {
		color: palegoldenrod;
	}
	100% {
		color: white;
	}
}
